<div
  class="w-[calc(100%-2rem)] h-[calc(100%-2rem)] ml-4 mt-0 mr-4 mb-0 pr-1 max-w-5xl md:w-[calc(100%-2rem)] md:ml-12 md:mr-8 md:pr-4 transition-all section-content duration-2000 opacity-0"
>
  <div
    class="h-full xl:mx-0 transition-all duration-2000 flex flex-nowrap flex-col justify-between"
  >
    <slot />
  </div>
</div>
<script>
  interface SectionEventDetail {
    componentId: string;
  }

  // Event listener for section load
  document.addEventListener("sectionLoadEvent", function (event: Event) {
    const customEvent = event as CustomEvent<SectionEventDetail>;
    const componentId = customEvent.detail.componentId;
    const componentLink = document.getElementById(`${componentId}-link`);
    const componentSpace = document.getElementById(`${componentId}-space`);
    const componentLabel = document.getElementById(`${componentId}-label`);

    if (componentLink && componentSpace && componentLabel) {
      if (document.querySelector(".transition-none")) {
        setTimeout(() => {
          if (componentLink.classList.contains("link-vertical")) {
            componentLink.classList.replace("w-1/2", "w-full");
            setTimeout(() => {
              componentSpace.classList.replace("h-full", "h-0");
              componentLabel.classList.replace("w-full", "w-1/2");
            }, 0);
          } else if (componentLink.classList.contains("link-horizontal")) {
            componentLink.classList.replace("h-1/2", "h-full");
            setTimeout(() => {
              componentSpace.classList.replace("h-full", "h-0");
              componentLabel.classList.replace("w-full", "w-1/2");
            }, 0);
          }
        }, 0);
      } else if (document.querySelector(".transition-all")) {
        setTimeout(() => {
          if (componentLink.classList.contains("link-vertical")) {
            componentLink.classList.replace("w-1/2", "w-full");
            setTimeout(() => {
              componentSpace.classList.replace("h-full", "h-0");
              componentLabel.classList.replace("w-full", "w-1/2");
            }, 150);
          } else if (componentLink.classList.contains("link-horizontal")) {
            componentLink.classList.replace("h-1/2", "h-full");
            setTimeout(() => {
              componentSpace.classList.replace("h-full", "h-0");
              componentLabel.classList.replace("w-full", "w-1/2");
            }, 150);
          }
        }, 500);
      }
    }
  });

  // Event listener for section unload
  document.addEventListener("sectionUnloadEvent", function (event: Event) {
    const customEvent = event as CustomEvent<SectionEventDetail>;
    const componentId = customEvent.detail.componentId;
    const componentSpace = document.getElementById(`${componentId}-space`);
    const componentLink = document.getElementById(`${componentId}-link`);
    const componentLabel = document.getElementById(`${componentId}-label`);

    if (componentLink && componentSpace && componentLabel) {
      if (componentLink.classList.contains("link-vertical")) {
        componentLink.classList.replace("w-full", "w-1/2");
        componentLabel.classList.replace("w-1/2", "w-full");
        componentSpace.classList.replace("h-0", "h-full");
      } else if (componentLink.classList.contains("link-horizontal")) {
        componentSpace.classList.replace("h-0", "h-full");
        componentLink.classList.replace("h-full", "h-1/2");
        componentLabel.classList.replace("w-1/2", "w-full");
      }
    }
  });
</script>
